.footer-header{
    background-color: #232f3e;
    border-top: 1px solid #3b4149;
}
.footer-content{
    background-color: #232f3e;
    border-top: 1px solid #3b4149;
}

.footer-bottom{
    background-color: #232f3e;
    border-top: 1px solid #3b4149;

}
.gap-30{
    gap:30px;
}